* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
  }
  html {
    font-size: 62.5%;
  }
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }
  header {
    position: fixed;
    width: 100%;
    background-color: #2c8eec;
    padding: 3rem 5rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  nav a {
    font-size: 1.8rem;
    text-decoration: none;
  }
  nav a#logo {
    color: #000000;
    font-weight: 700;
  }
  nav ul a {
    color: #ca2626;
    font-weight: 600;
  }
  nav ul a:hover {
    border-bottom: 2px solid #4ddc14;
  }
  section#home {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  h1 {
    font-size: 4rem;
  }
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      padding: 2.2rem 5rem;
    }
  }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%;
    }
    #ham-menu {
      display: block;
      color: #2907d5;
    }
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 73.6px;
      width: 100vw;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      gap: 0;
    }
  }
  @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 65.18px;
      height: calc(100vh - 65.18px);
    }
  }










   
  .container {
    /* height: 80vh; */
    /* margin: 0 auto; */
    /* position: relative; */
    /* background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed); */
  }
  
  .container .form-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 40%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
  }
  
  .form-1 h1 {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
  }
  
  input[type="email"],
  input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 1px solid;
    background: none;
    margin: 0.9rem 2rem;
    font-size: 1rem;
  }
  
  label {
    margin: 0 2rem;
  }
  
  span {
    margin: 0 2rem;
    color: blue;
    cursor: pointer;
  }
  
  button {
    margin: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #fff;
    background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  }
  
  /* ........///Sign-Up///......... */
  
  p {
    text-align: center;
    font-weight: bolder;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
  }
  
  .icons a {
    text-decoration: none;
    font-size: 1rem;
    margin: 0.2rem;
  }
  
  .icons .fa-facebook-f {
    border-radius: 50%;
    background: #5d75ab;
    color: #fff;
    padding: 1rem;
  }
  
  .icons .fa-twitter {
    border-radius: 50%;
    background: #1da1f2;
    color: white;
    padding: 1rem;
  }
  
  .icons .fa-google {
    border-radius: 50%;
    background: #ee5645;
    color: #fff;
    padding: 1rem;
  }
  
  /* ....///Media query///..... */
  
  @media (max-width: 501px) {
    html {
      font-size: 15px;
    }
  
    .container .form-1 {
      width: 300px;
    }
  }
  
  @media (min-width: 501px) and (max-width: 768px) {
    html {
      font-size: 14px;
    }
  
    .container .form-1 {
      width: 450px;
    }
  }
  
  @media (min-width: 765px) and (max-width: 1200px) {
    html {
      font-size: 18px;
    }
  
    .container .form-1 {
      width: 540px;
      height: 550px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .container {
      height: 100vmax;
    }
  }